<div class="container">
    <div class="top-bar">
        <!-- More on mobile  -->
        <button class="top-bar__more">
            <img
                src="../assets/icons/more.svg"
                alt=""
                class="icon top-bar__more-icon"
            />
            <!--
                themes for icon on mobile 
                .icon {
                filter: var(--icon-color);
            } -->
        </button>

        <!-- Logo  -->
        <div class="logo">
            <img
                src="./assets/icons/logo.svg"
                alt="grocerymart"
                class="logo__img"
            />

            <h1 class="logo__title">grocerymart</h1>
        </div>

        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Departments
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__arrow icon"
                        />
                        <!-- icon: class theme for icon with diference mode  -->
                    </a>

                    <!-- Mega menu  -->
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Quia nihil soluta esse in dignissimos aliquam!
                            Vitae ut natus, dicta quae libero deleniti ad
                            cupiditate enim earum vero rerum est quidem.
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Grocery
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__arrow icon"
                        />
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Quia nihil soluta esse in dignissimos aliquam!
                            Vitae ut natus, dicta quae libero deleniti ad
                            cupiditate enim earum vero rerum est quidem.
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Beauty
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__arrow icon"
                        />
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Quia nihil soluta esse in dignissimos aliquam!
                            Vitae ut natus, dicta quae libero deleniti ad
                            cupiditate enim earum vero rerum est quidem.
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Actions -->
        <div class="top-act">
            <!-- button single  -->
            <div class="top-act__group top-act__group--single">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/search.svg"
                        alt=""
                        class="top-act__icon icon"
                    />
                </button>
            </div>

            <!-- pair button  -->
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/heart.svg"
                        alt=""
                        class="top-act__icon icon"
                    />
                    <span class="top-act__title">03</span>
                </button>

                <div class="top-act__separate"></div>

                <button class="top-act__btn">
                    <img
                        src="./assets/icons/buy.svg"
                        alt=""
                        class="top-act__icon icon"
                    />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>

            <!-- avatar  -->
            <div class="top-act__user">
                <img
                    src="./assets/img/user.jpg"
                    alt=""
                    class="top-act__avatar"
                />
            </div>
        </div>
    </div>
</div>
