@use "../abstracts";

// placeholder variable
%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    // them bong do cho screen lg do xuong 
    @include abstracts.screen(lg) {
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.20);
    }
}

// cho cac phan tu trong header ngang len
.top-bar {
    @extend %flexItemCenter;
    // Mega menu 
    position: relative;
    padding: 30px 0;

    // tablet 
    @include abstracts.screen(lg) {
        padding: 20px 0;
    }

    // mobile (can giua icon)
    @include abstracts.screen(md) {
        justify-content: space-between;
        padding: 16px 0;
    }

    // hidden icon more on pc 
    &__more {
        // display: none;
        @include abstracts.screen(lg) {
            display: block;
        }
    }
}

.navbar {
    // do margin am 15px (144 -> 129)
    margin-left: 129px;

    // navbar margin left when screen < 1200px 
    @include abstracts.screen(xl) {
        margin-left: 28px;
    }

    // syn: @include name_space.name_mixins {}
    // hidden navbar pc and create new navbar for tablet with screen < lg (992px)
    @include abstracts.screen(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;

        margin-left: 0;
        padding: 20px 0;
        background: #fff;

        // hide navbar 
        translate: -100%;
        transition: 0.5s;

        &.show {
            // show navbar 
            translate: 0;
        }

        // the .navbar__overlay visible khi the navbar co class show 
        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

   

    // button arrow left for tablet 
    &__close-btn {
        display: none;

        @include abstracts.screen(lg) {
            display: block;
            padding: 10px 40px;
        }
    }

     // lop phu tablet
     &__overlay {
        visibility: hidden;
        opacity: 0;

        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;

            // hieu ung cho hide show navbar on overlay
            transition: opacity, visibility;
            transition-duration: 0.5s;

            background: rgba($color: #000000, $alpha: 0.4);
        }
    }

    // ul
    &__list {
        @extend %flexItemCenter;

        // edit ul tag on tablet 
        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;

            overflow-y: auto;
            height: calc(100% - 29px);
        }
    }

    // li 
    &__item {

        // show dropwdown when hover li tag 
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    // a
    &__link {
        @extend %flexItemCenter;

        gap: 6px;
        height: 50px;
        padding: 0 15px;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;

        @include abstracts.screen(lg) {
            justify-content: space-between;
            padding: 0 40px;
            font-size: 1.6rem;
            line-height: 1.5;
        }
    }

    //a > img
    &__arrow {
        margin-top: 3px;
    }
}

// Include btn & avatar
.top-act {
    @extend %flexItemCenter;
    margin-left: auto;
    gap: 20px;

    // can giua icon cho screen md 
    @include abstracts.screen(md) {
        margin-left: auto;
    }

    // 3 group: 1btn | 2btn | avatar
    &__group {
        @extend %flexItemCenter;

        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--header-act-dropdown-shadow);
    }


        // hidden icon heart and cart on tablet and mobile
    //     @include abstracts.screen(md) {
    //         // display: none;
    //     }
    // }

    &__group--single {
        // hidden icon search with screen lg  < (992px)
        @include abstracts.screen(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    // include span and img tag
    &__btn {
        padding: 13px 20px;
        @extend %flexItemCenter;

        gap: 10px;
    }

    // span
    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
    }

    // between 2 btn pair
    &__separate {
        width: 1px;
        height: 30px;
        background: #ededf6;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        // -> tag a block -> remove separate bottom
        display: block;
    }
}
