.dropdown {
    position: absolute;
    padding-top: 54px;
    left: 0;
    display: none;
    width: min(1240px, 100%);

    &__inner {
        position: relative;
        padding: 30px;

        height: calc(100vh - 158px);
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

        // icon chi muc 
        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}