@use "../abstracts";

// hover li on navbar -> show dropdown 
.dropdown {
    position: absolute;
    left: 0;

    padding-top: 54px;
    display: none;
    width: min(1240px, 100%);

    // edit dropwdown on tablet 
    @include abstracts.screen(lg) {
        padding-top: 0;
        position: initial;
    }

    &__inner {
        --inner-padding: 30px;
        position: relative;

        padding: var(--inner-padding);

        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

        // icon chi muc (triangle)
        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }

        // edit dropwdowm inner on tablet 
        @include abstracts.screen(lg) {
            padding: 0 40px;
            border-radius: 0;
            background: transparent;
            box-shadow: none;

            // remove icon triangle 
            &::before {
                content: none;
            }
        }
    }
}

// main content
.top-menu {
    --main-column-width: 292px;
    --max-inner-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);

    position: relative;
    &__main {
        width: var(--main-column-width);
        // max-height: calc(min(582px, 100vh - 158px) - 60px);
        // tinh toan de top-menu khi ke thua height dropdown se khong bi troi xuong -> margin am || -60px
        height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-border-color);
        // hien thanh cuon (khi height has value absolute )
        overflow-y: auto;

        // edit top menu on tablet 
        @include abstracts.screen(lg) {
            width: 100%;

            // to stop scrollbar 
            height: auto;

            border-right: none;
        }
    }
}

.menu-column {
    // cho icon va content len 1 hang
    display: flex;
    gap: 14px;

    // menu col dang sau mot cai menu col -> css (cai menu col dau -> ko bi css)
    + .menu-column {
        margin-top: 22px;
    }

    @include abstracts.screen(lg) {
        margin-top: 10px;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        position: relative;

        // hidden icon on xl
        @include abstracts.screen(xl) {
            display: none;
        }

        // show icon on mobile (tablet)
        @include abstracts.screen(lg) {
            display: block;
        }
    }

    // cho content chiem het chieu doc
    &__content {
        flex: 1;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        // dam bao icon khong bi cat xen 
        object-fit: contain;
    }

    &__icon-2 {
        position: absolute;
        right: 0; 
        bottom: 0;
        width: 24px;
        height: 24px;
        object-fit: contain;
        filter: var(--menu-column-icon-color);
    }

    // h2
    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;

        @include abstracts.screen(lg) {
            margin-bottom: 26px;
        }
    }

    // ul
    &__list {
        margin-top: 19px;

        // edit margin top of list on tablet 
        @include abstracts.screen(lg) {
            margin-top: 0;
        }
    }

    // li
    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    // modifier(hold tag li alway blue, hover 
    &__item--active > &__link,
    &__item:hover > &__link {
            color: #0071dc;
            font-weight: 500;
    }

    // a
    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 1.42;

    }
}

// content after a tag  
.sub-menu {
    // ke theo top-menu 
    position: absolute;
    // chua ben trai 292px => dam bao khong che phan noi dung cua phan menu-contain 
    inset: 0 0 0 var(--main-column-width);
    padding-left: var(--inner-padding);

    display: none;
    // hover -> display : grid
    grid-template-columns: repeat(3, 1fr);
    gap: var(--inner-padding);

    overflow-y: auto;

    // edit sub-menu on tablet 
    @include abstracts.screen(lg) {
        // remove position absolute (submenu on tablet)
        position: initial;
        // edit 3 col sub-menu -> 1 col on tablet 
        grid-template-columns: 1fr;
        padding-left: 0;
    }

    // li tag on navbar 
    &--not-main {
        // loai bo position & inset 
        position: initial;
        inset: initial;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // add scrool bar -> set height
        height: var(--max-inner-height);
        padding-left: 0;

        // edit sub-menu--notmain on tablet : 4fr -> 1fr
        @include abstracts.screen(lg) {
        grid-template-columns: 1fr;
        // chi xh 1 thanh cuon 
        height: auto;
        }
    }
}
