@use "../abstracts";
// contain button filter and content filter ( 3 col filter )
.filter-wrap {
    position: relative;
    z-index: 1;
}

// content filter contain 3 column filter 
.filter {
    position: absolute;
    right: 0;
    top: 50px;

    border-radius: 20px;
    padding: 30px;

    background: var(--filter-form-bg);
    filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));
    transition: opacity, visibility;
    transition-duration: 0.2s;

    // responsive filter with small screen 
    @include abstracts.screen(sm) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        inset: 0;
        border-radius: 0;
    }

    // &__col + &__col {
    //     margin-top: 42px;
    //     padding-top: 32px;
    //     border-top: 1px solid #a3a2ad;
    // }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    // icon nho len khoi content filter 
    &__arrow {
        position: absolute;
        top: -10px;
        right: 24px;
        height: 20.5px;
        filter: var(--filter-form-arrow);
    }

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45;
    }

    &__form {
        margin-top: 30px;

        &-group {
            margin-top: 20px;

            &--inline {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
            }
        }

       
     

        &-slider {
            position: relative;

            width: 100%;
            height: 4px;
            background: #d2d1d6;

            // make 2 circle 
            &::before, &::after {
                content: "";
                position: absolute;

                top: 50%;
                translate: 0 -50%;

                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 6px solid #ffb700;

                background: var(--filter-form-bg);
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-text-input {
            display: flex;
            align-items: center;

            width: 334px;
            height: 44px;

            overflow: hidden;

            &--small {
                width: 121px;
                height: 36px;

                @include abstracts.screen(xl) {
                    width: 100%;
                }
            }

            @include abstracts.screen(sm) {
                width: 100%;
            }
        }

        &-text-input--small &-input {
            font-size: 1.4rem;
            padding: 6px 16px;
        }


        &-input, &-select-wrap {
            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-input {
            padding: 10px 12px;
            width: 100%;

            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46;

            &::placeholder {
                color: #9e9da8;
                font-weight: 400;
            }

            @include abstracts.screen(sm) {
                font-size: 1.6rem !important;
            }
        }

        &-input-icon {
            margin-left: 12px
        }

        // &-select-wrap {
        // display: flex;
        // align-items: center;
        // height: 45px;
        // }

        // &-select {
        //     display: flex;
        //     align-items: center;
        //     padding: 0 14px;
        //     min-width: var(--width, 108px);
        //     height: calc(100% - 10px);

        //     font-size: 1.4rem;
        //     font-weight: 500;
        //     line-height: 1.42;

        //     cursor: pointer;
        // }

        // focus select thu 2 
        // &-select + &-select {
        //     border-left: 1px solid #d2d1d6;
        // }

        // &-tags {
        //     display: flex;
        //     gap: 10px 20px;
        // }

        // &-tag {
        //     border-radius: 6px;
        //     padding: 6px 12px;
        //     color: #9e9da8;
        //     background: var(--filter-form-tag-bg);

        //     font-size: 1.4rem;
        //     font-weight: 500;
        //     line-height: 1.42;
        //     transition: color 0.25s;;

        //     &:hover {
        //         color: var(--text-color);
            // }
        // }
    }

    // contain 3 col filter content 
    &__row {
        display: flex;
    }

    // vach ngan cach col 1 & col 2 
    &__separate {
        width: 1px;
        margin: 0 30px;
        background: #eee;

        @include abstracts.screen(xl) {
            width: 100%;
            height: 1px;
            margin: 30px 0;
        }
    }


    
    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;

        @include abstracts.screen(sm) {
            position: sticky;
            bottom: 30px;
            background: var(--filter-form-bg);
        }
    }

    &__cancel,
    &__submit {
        height: 38px;
        padding: 0 10px;

        @include abstracts.screen(sm) {
            flex: 1;
            height: 42px;
        }
    }

    &__cancel {
        font-size: 1.5rem;
    }

    &__submit {
        font-size: 1.4rem;
    }

    &__heading,
    &__content,
    &__footer {
        padding: 0 30px;
    }

    // contain content of filter (3 col)
    &__content {
        // make scrollbar 
        max-height: calc(100vh - 350px);
        overflow-y: auto;

        overscroll-behavior: contain;

        @include abstracts.screen(xl) {
            flex-direction: column;
        }

        @include abstracts.screen(sm) {
            max-height: calc(100vh - 230px);
            padding-bottom: 60px;
        }
    }
}